{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список рецептов</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <form action="" method="GET">
            <label for="servings">Количество гостей:</label><br>
            <input type="number" id="servings" name="servings" value="{{ request.GET.servings|default:1 }}" min="1" required>
            <button type="submit">Указать</button>
        </form>
        <br>
        <h1>Список рецептов</h1>
        <ul>
        {% for en_dish, ru_dish in dishes.items %}
            <li>
                <a href="{% url 'dish' recipe=en_dish %}?servings={{ request.GET.servings|default:1 }}">{{ ru_dish }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>
